<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://apps.sideeffectspublicmedia.org/sex-work-addiction/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="[[Unknown Title Here]] - Side Effects Public Media">
    <meta property="og:description" content="[[Description]]">
    <meta property="og:image" content="http://apps.sideeffectspublicmedia.org.s3.amazonaws.com/sex-work-addiction/img/primitive-embrace-vectorized-huge.jpg">
    <meta property="article:publisher" content="https://www.facebook.com/sideeffectsnews/">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sideeffectsnews">
    <meta name="twitter:title" content="[[Unknown Title Here]] - Side Effects Public Media">
    <meta name="twitter:description" content="[[Description]]">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://apps.sideeffectspublicmedia.org.s3.amazonaws.com/sex-work-addiction/img/primitive-embrace-vectorized-huge.jpg">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://use.fontawesome.com/4cfb4dfef7.js"></script>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="./js/debounce.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>-->
    <script src="./js/cards.js"></script>
    <script src="./js/progress-react.js"></script>
    <script src="http://media.kbia.org.s3.amazonaws.com/js/viewport.js"></script>
    <!-- Smooth Scrolling -->
    <script type="text/javascript">
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

    <script>
        // KBIA/SFX GA Code
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-24704798-11', 'auto');
        ga('create', 'UA-71696131-1', 'auto', 'appsTracker');
        ga('create', 'UA-8188514-1', 'auto', 'sfxTracker');
        ga('send', 'pageview');
        ga('appsTracker.send', 'pageview');
        ga('sfxTracker.send', 'pageview');

    </script>
    <title>[[Unknown Title Here]] - Side Effects Public Media</title>

</head>
<body>
    <div class="title-card home-card title-card-main title-card-pa">
        <a href="http://www.sideeffectspublicmedia.org/" class="home-logo"><img src="img/se-white.png" alt="Side Effects Public Media" class="hl-img"></a>
        <div class="card-content">
            <div class="card-content-titles">
                <h1>[[Unknown Title Here]]</h1>
                <p class="author">By Esther Honig</p>
                <p class="subhead">[[Description]]</p>
            </div>
        </div>

    </div>
    <article>
        <section id="traps" data-title="How Heroin Traps Women in a Cycle of Sex Work and Addiction">
            <h2>How Heroin Traps Women in a Cycle of Sex Work and Addiction</h2>
            <p><audio controls controlsList="nodownload" src="https://cpa.ds.npr.org/wfyi/audio/2018/01/eh_opioid_epidemic_drives_prostitution_feature_web.mp3"></audio></p>
            <p>Though the shops along Sullivant Avenue in Columbus, Ohio had all closed their doors one cold November night, a young woman walked alone down the alley behind the Seventh Day Adventist Church. She was petite and wore lipstick, a tweed coat and blue jeans torn at the knee.</p>
            <p>Side Effects agreed not to use her name — the woman feared violent retribution from her drug dealer. When asked what brought her out here, her response was direct:</p>
            <p>“Heroin.”</p>
            <p>She said she was 30 and struggled with addiction for three years. She even managed to get off drugs at one point, but that only lasted a year.</p>
            <p>“I lost my job about a month ago,” she said. “Then one thing led to another.”</p>
            <p>She relapsed and wound up here. Now her days consist of walking up and down Sullivant looking for “dates.” She earns anywhere between $150 and $300 a day, and most of that money goes toward purchasing drugs. She works “to feed my addiction, to eat, to sometimes find a place to sleep,” she said. </p>
            <p>According to data from Columbus Police, prostitution is increasing in Columbus: In each of the past two years, the number of prostitution-related arrests has increased by 30 percent. Records from the Franklin County Municipal Court show the number of charges against individuals for “procuring” a prostitute have steadily increased, growing by nearly 50 percent since 2010.</p>
            <p>Both local advocates and law enforcement believe the increase is being fueled by the opioid epidemic.</p>
            <p>National numbers are hard to come by, but advocates and researchers fear the trend may be national. According to the Polaris Project, a national anti-human trafficking hotline, the organization received nearly 2,000 calls since 2015 from human trafficking victims who report opioid addiction. Of those, two-thirds say they became addicted prior to working in prostitution.</p>
            <p>“I think there are those individuals that definitely either come in [to the sex trade] already addicted, or through the nature of becoming engaged in the sex trade become addicted,” said Meredith Dank, a research professor with expertise on human trafficking at the John Jay School of Criminal Justice at City University of New York.</p>
            <h3 id="working-in-the-trenches"><a name="user-content-working-in-the-trenches" href="#working-in-the-trenches" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Working In The Trenches</h3>
            <p>Nowhere in the city sees more of this activity than a stretch of several blocks along Sullivant Avenue—a busy street that cuts through the Hilltop, a neighborhood with some of the highest rates of poverty and crime in the city.</p>
            <p>Sister Nadine Buchanan of the Dominican Sisters of Peace has been coming here several times a week for the last year, driving up and down Sullivant Ave., her car filled with sack lunches.</p>
            <p>“I&rsquo;m looking for ladies to give lunches to,” she explained.</p>
            <p>The lunches she hands out to the women typically contain a sandwich, fruit and something sweet, “to help with the dope sickness.” She also offers information for local shelters and addiction treatment centers.</p>
            <p>At 67, Sister Buchanan has a small frame, glasses and a kind voice. While handing the women their lunches, she peppers them with questions about their safety and health. She calls everyone &ldquo;honey.” Some women will even sit in the car with her for a heavy-hearted conversation.</p>
            <p>Several years ago, she started volunteering at a number of organizations that serve survivors of human trafficking. She started coming here after she realized so many women were in need.   </p>
            <p>“They are so hungry and they really have such basic needs that aren’t being met,” she said.</p>
            <p>In the last year, she&rsquo;s managed to help one woman (that she knows of) get off the streets. But the women she helps live transient lives —often they&rsquo;re victims of violence, incarceration and fatal overdoses — that she rarely sees the same person twice.</p>
            <p>Sister Buchanan says she&rsquo;s learned to spot these women by their walk — the way they wander without any particular place to go. How they wait at bus stops, but never board any buses. Or how thin they are.</p>
            <p>“It&rsquo;s nothing to find someone who is a size zero,” Sister Buchanan said.</p>
            <p>The women Sister Buchanan serves lunches to, as well as several women interviewed for this story, all say they regularly go days without food or sleep. They live in houses that are either abandoned or run by drug dealers; they carry everything they own in their purses. At all hours of the day, regardless of the season, they’re out on the avenue, working.</p>
            <p>“I had one girl in February last year, it was nine degrees, and she didn’t have any shoes,” said Sister Buchanan. “She was absolutely freezing.”</p>
            <p>For Sister Buchanan, helping them is service she feels called to, but it is challenging. </p>
            <p>“Sometimes when I come home and I just need to be quiet,&rdquo; she said. &ldquo;And I say I have been to hell today, and it&rsquo;s the truth.&rdquo;</p>
            <h3 id="finding-the-link"><a name="user-content-finding-the-link" href="#finding-the-link" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Finding the Link</h3>
            <p>The link between heroin and sex work is not new, said Michelle Hannan, director of the anti-human trafficking effort at Salvation Army in Central Ohio. But it’s gotten worse in the last ten years. Today, she said, heroin impacts nearly 100 percent of the human trafficking cases the organization handles. </p>
            <p>“It&rsquo;s become something that was a part of the equation to really the entire equation as it relates to sex trafficking,” Hannan said.</p>
            <p>Though some women get started as a way to support their addiction, advocates and law enforcement say others are working under some degree of coercion by pimps and dealers who take all or most of their earnings in exchange for drugs and sometimes a place to sleep. Sex trafficking is defined by the FBI as “inducing a person by force, fraud, or coercion to participate in commercial sex acts.&rdquo;</p>
            <p>Dank said opioid addiction redefines what many believe human trafficking looks like. There may not be outright force from pimps or dealers, but addiction leaves individuals vulnerable to exploitation. Dank recalled a case in Florida from a few years ago.</p>
            <p>“A man targeted women in recovery,” she said. “As a way to continue to get them to work for him, he supplied them with drugs and got them re-addicted back onto the drugs.”  </p>
            <p>Dank fears opioid use is driving a growing number of people into sex work. However, there’s currently no research that explains how individuals addicted to opioids enter into to human trafficking, or even how widespread the problem is. For now, said Dank, the evidence is strictly anecdotal. </p>
            <p>“It’s hard to maintain an addiction and also maintain a legal job,” said Dank. “It kind of spirals down into [someone] finding whatever opportunity to make cash to be able to purchase the drugs.” </p>
            <h3 id="we-have-a-disease"><a name="user-content-we-have-a-disease" href="#we-have-a-disease" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>&ldquo;We Have A Disease&rdquo;</h3>
            <p>On Sullivant Ave, many sex workers told me they felt stuck. They often work long days — as many as 18 hours a day on their feet, walking, looking for clients. One I spoke to told me she’s been beaten and raped by customers; she’s aware this work exposes her to HIV and other sexually-transmitted diseases.</p>
            <p>But stopping is just as terrifying.</p>
            <p>“I can&rsquo;t handle withdrawing,” she said. “I just wish people would understand we didn’t choose to wake up one day and be a heroin addict. We have a disease.”</p>
            <p>For many women like her, this is the end of the road. Few people manage to find a way home.</p>
        </section>
        <section id="path-recovery" data-title="For Sex Workers Struggling With Addiction, A Safe Path To Recovery Can Be Hard To Find">
            <h2>For Sex Workers Struggling With Addiction, A Safe Path To Recovery Can Be Hard To Find</h2>
            <p>In leggings and a long black hoodie, Ray walked idly up and down Sullivant Avenue in Columbus, Ohio. A block away, an elementary school had let out for the day and students walked home. For Ray, work had just started.</p>
            <p>“You just walk around until you catch a date,” she said. </p>
            <p><audio controls controlsList="nodownload" src="https://cpa.ds.npr.org/wfyi/audio/2018/02/hilltop_prostitution_part_2__mixdown.mp3"></audio></p>
            <p>Ray is her nickname. She asked she not be identified because she sells sex in order to purchase heroin. At 28, she’s rail thin and has long black hair.</p>
            <p>Ray said she’s usually able to get work from a group of her regular clients. When that doesn’t work, she comes out here, where getting in the car with strange men leaves her vulnerable to assault. She said she’s been raped twice. As she talked, her eyelids slowly fell over her pale blue eyes.</p>
            <p>“I want to quit and go home real bad, but it&rsquo;s just really hard,” she said. “You feel like you&rsquo;re trapped here.”</p>
            <p>For some women addicted to opioids, selling sex to buy drugs can become a dangerous way of life. Ray may work for herself now, but like other women interviewed for this story, she could eventually find herself exploited by a pimp or a drug dealer.</p>
            <p>In Columbus, law enforcement and anti-human trafficking advocates are seeing an increase in the number of women who are trafficked due to an opioid addiction, meaning they are forced or coerced to engage in sex work. </p>
            <p>When these individuals want to seek help, treatment options are not always available quickly enough to provide them a safe path to recovery. And they often need safe housing before they can leave this life behind.</p>
            <p>For women seeking help, they can call the National Human Trafficking Hotline. That call will bring them to the Salvation Army of central Ohio, which has run an anti-human trafficking program for the last ten years. Director Michelle Hannan says opioid addiction now affects nearly all of their cases.</p>
            <p>“We’ve seen a really dramatic increase in how frequently heroin intersects with our cases and the degree to which the drug is being used as a control technique,&rdquo; she said.</p>
            <p>When caseworkers come across a survivor with opioid dependency, often their first priority is to get them into detox — this helps them through the painful drug withdrawals. Hannan said thanks to Ohio’s Medicaid expansion and their partnership with a local treatment facility, Mary Haven, they’re often able to get them in immediately. However, there are instances when space fills up and people are turned away.</p>
            <p>“That’s the toughest part,” said Hannan. “If someone says at this particular moment, ‘I’m ready’ and we can’t act in that moment, that’s when we’re going to lose that person until the next time that they’re ready.”</p>
            <p>Considering the high rates of overdoses, and other dangers associated with sex trafficking, Hannan said there may not always be a next time. Women in these situations are often victims of violent assault by their pimps, dealers or clients. They also risk diseases such as HIV and potentially fatal infections from dirty syringes.</p>
            <p>If a patient makes it through detox and doesn’t relapse — as many do — the next step for the Salvation Army case workers is to help them find long-term addiction treatment. Outpatient care is also an option, but because survivors of human trafficking experience trauma and homelessness, many do best in long-term residential treatment.</p>
            <p>These programs last several months to a year and require intense supervision and care from mental health professionals. Julia Gilliam, a coordinator at Mary Haven’s residential program for women, said it can take six to eight weeks to get in. But she insisted, they never just tell patients to wait.</p>
            <p>“That’s not how that works,” she said. “There’s always something that needs to be done.”</p>
            <p>Many women who have been trafficked have lost their ID and any vital documentation necessary to apply for Medicaid or health insurance. While women work on gathering identification, they have access outpatient care, such as medications and counseling. </p>
            <p>Every so often, a patient will relapse before making it off the waitlist. Gilliam said she wishes that they had more resources.</p>
            <p>“But with the staff that we have available and the beds and the space that we have available, it works right now,” she said.</p>
            <p>For women who are homeless or who live under the control of a trafficker and have nowhere safe to live (as is the situation for many of the women interviewed for this story), six to eight weeks can feel like an eternity. Gilliam says a lack of safe housing could keep many women trapped.</p>
            <p>“You know that you can run, but there’s nowhere to run to,” said Gilliam. “If there’s no safe housing for them when they leave, then they can be found very easily.”</p>
            <p>Back on Sullivant Avenue, Ray said she recently spent five days in jail where she couldn’t use drugs.</p>
            <p>“When you&rsquo;re sober all you do is think,” said Ray. “So it&rsquo;s just not worth it really.”</p>
            <p>Ray has been thinking of going into treatment. When she is ready, perhaps the resources she needs will be there for her. </p>
        </section>
        <section id="john-school" data-title="Faced With Sex Trafficking Surge, A City Wonders If 'John School' Can Reduce Demand">
            <h2>Faced With Sex Trafficking Surge, A City Wonders If 'John School' Can Reduce Demand</h2>
         <p>On a Saturday afternoon at the downtown Columbus, Ohio courthouse, close to 20 men sat in a conference room; arms crossed, eyes staring blankly ahead, listening to a lecture. One white-haired man with glasses and hearing aids yelled for the presenter to speak up.</p>
         <p>The presenter, Chris Stollar, an advocate from an anti-human trafficking organization, stood before his Powerpoint, grasping for engagement.</p>
         <p>“Coercion&hellip;&rdquo; he asked. &ldquo;Does anyone know what coercion might mean?&rdquo;</p>
         <p>There was a long pause. A middle-aged bald man in a dress shirt gave a loose definition.</p>
         <p>“It means they don’t have a choice,” he said. </p>
         <p>Another hand goes up. The participant said he’s never heard of the word.</p>
         <p>This is John School. Everyone here was caught purchasing sex from a prostitute. Consequently, some were ordered here by a judge, while others struck a deal to come in exchange for a reduced sentence.</p>
         <p>Many have fallen for the misconception that women enjoy sex work. Today, they’re learning the reality: 90 percent of women in sex work are forced into it as victims of human trafficking.</p>
         <p>In Columbus, law enforcement has seen an increase in prostitution arrests. Many believe the rise is due to the opioid epidemic. While helping women get into treatment is one way to address the problem of prostitution, Columbus, like many cities, is also trying to curb the demand for sex work.</p>
         <p>There are generally two schools of thought about what works. Educational programs such as John School, put on by the Columbus City Attorneys Office, are in use around the country. But some advocates and law enforcement think it’s not enough to deter men from purchasing sex. They support harsher penalties for offenders instead.</p>
         <h3 id="hard-truths"><a name="user-content-hard-truths" href="#hard-truths" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Hard Truths</h3>
         <p>At John School, the attendees hear directly from survivors of human trafficking. After a long lunch break, Jenn Glaser stood before the room. She’s in recovery from a heroin addiction and has been off the street for two years. It’s her first time speaking at John School and it’s an intimidating crowd.</p>
         <aside class="pquote">Organizers hope what the men learn at John School will discourage them from ever purchasing sex again.</aside>

         <p>Glaser was trafficked by a man she thought was her boyfriend. He set up the ads on online classifieds site Backpage while Glaser met buyers at a hotel. In exchange, he supplied her with heroin. If she refused to work, he beat her. She nearly died before she managed to escape.</p>
         <p>What she wants these men to know is that the women they went to for pleasure were living in a nightmare. </p>
         <p>“If you’re out there looking for love, it’s not going to happen,” she said. “I told you anything you wanted to hear, just so I could get that money. That’s all it was about.” </p>
         <p>The day-long class also features a session with a relationship counselor and some gruesome slides on sexually transmitted diseases. Organizers hope what the men learn at John School will discourage them from ever purchasing sex again. But while studies done on particular programs suggest John School can reduce recidivism, researcher Alex Trouteaud with advocacy group Demand Abolition said programs around the country vary, and the jury’s still out on how effective they are.</p>
         <h3 id="the-costs-of-an-arrest"><a name="user-content-the-costs-of-an-arrest" href="#the-costs-of-an-arrest" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>The Costs Of An Arrest</h3>
         <p>What is proven to work, he said, is the shame and embarrassment of getting arrested. Research shows that alone can reduce recidivism by 70 percent.</p>
         <p>“In my mind anything else you get on top of [arrests] is gravy,” he said. “The key is: are you actually making the arrests?”</p>
         <p>But making the arrests takes time and resources.</p>
         <p>To catch a sex buyer takes seven to 10 officers, according to Ron Kemmerling, commander of the vice unit with the Columbus police. In his efforts to keep up with the rising demand for sex work, Kemmerling arranges &ldquo;reverse stings&rdquo; in hotels on the streets on a near daily basis. In these stings, a female officer poses as a prostitute, while several more officers stand by as backup to ensure her safety.</p>
         <p>It’s a labor-intensive undertaking, but Kemmerling said a buyer will inevitably come circling “like a shark.” </p>
         <p>“Before our decoy gets approached, we’ll see the same car come by three times,” he said “It’s patently obvious what they’re doing. The people in the neighborhood know what they’re doing.”</p>
         <p>In contrast, it only takes one or two officers to arrest a prostitute, which is one reason the number of prostitution arrests still dwarfs the number of sex buyer arrests in Columbus.</p>
         <h3 id="a-traffic-fine-costs-more"><a name="user-content-a-traffic-fine-costs-more" href="#a-traffic-fine-costs-more" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>&ldquo;A Traffic Fine Costs More.&rdquo;</h3>
         <p>Kemmerling said the cost of reverse sting operations may be greater than the penalty. Columbus laws allow a fine of up to $1,000 and 30 days in jail, but few men do any time. An analysis of 2016 and 2017 court records shows the average for fines given to men caught soliciting was $72.</p>
         <p>Kemmerling thinks this needs to change.</p>
         <p>“Personally, I wonder about priorities when a traffic fine costs more than picking up women for sex in Columbus,” he said. </p>
         <p>Ohio Representative Adam Miller has introduced a bill that would impose a fine of up to  $2,000, with half of all proceeds going to a fund to help victims of human trafficking.  Opponents to this bill point out that prostitutes, and johns both receive the same charge under Ohio law: soliciting. Any fine could apply to both parties, and that could be detrimental for victims of human trafficking, many of whom live in poverty. Policy expert Alex Trouteaud says rewriting the law so that it distinguishes between sex buyers and sellers, should be the first priority. However, he says how the fines get used is more important than the fine amount itself.</p>
         <p>“We find that one of the best ways to ensure that judges impose those fines is through the kind of transparency you get with a dedicated fund,” he said.</p>
         <p>Trouteaud said fines are important for holding sex buyers accountable. They not only do harm to the individuals they purchase, but to the communities they frequent and arresting them takes away resources from police. The money can be used to pay for educational programs like John School, and, more importantly, resources for victims of human trafficking.</p>
         <p>“That’s just part of what the buyer needs to do to make right some of his wrongs,” said Trouteaud.</p>
         <p>More Than One Solution</p>
         <p>When it comes to deterring men from purchasing sex in the first place, Trouteaud says that requires a multipronged approach, similar to how communities approached the problem of drunk driving years ago. If sex buyers knew they could face a financial penalty coupled with legal and personal repercussion (like being denied a job or admission to a university), they would be less likely to offend.</p>
         <p>Of course, those with the most at stake here are sex trafficking victims. Valerie is also survivor of human trafficking and speaks regularly at John School. She asked that we not use her full name. She doesn’t want information about her past to harm her chances of getting a job. She said she thinks John School alone is more effective than any jail time or fine. </p>
         <p>“I think it’s a sickness,” said Valerie of the men in John School. “I think that they’re spiritually bankrupt. They got a hole and they‘re looking to fill it somehow. There’s underlying issues with this.”</p>
         <p>If John School is their chance to reflect and learn from their mistakes, Valerie hopes they’ll take it.</p>
     </section>

 </article>
 <div id="reactive-progress-hider">
    <div id="reactive-progress"></div></div>
    <div class="reactive-progress-background">
    </div>

</body>
</html>